<div class="container custom-table pl-10 pr-10">
  <div class="jumbotron jumbotron-fluid pb-10 bg-white">
    <div class="container pl-0">
      <h3>
        <%= resource_name %><br>
        <small class="text-muted">Search, filter, and inspect <%=  resource_name.downcase %> here.</small>
      </h3>
    </div>
  </div>

  <div class="row d-none d-md-flex justify-content-start border-bottom">

    <% columns.each_with_index do |column, i| %>
        <div class="col-md"><%= column[:label] %></div>
    <% end %>

  </div>
  

  <% rows.each_with_index do |row, i| %>
  
    <div class="row align-items-center justify-content-start border-bottom <%= "bg-light" if i.even? %>">

      <% columns.each do |column| %>
        <% if column[:association_field] %>
          <%= table_column(row.send(column[:field]).send(column[:association_field])) %>
        <% else %>
          <%= table_column(row.send(column[:field])) %>
        <% end %>
      <% end %>

    </div>

      <div class="row spacer d-sm-flex d-md-none">
        <div class="col"></div>
      </div>
      
  <% end %>
    

</div>